<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <p>totalAmount</p>
    <h1 class="text-center" class="totalAmount" id="totalAmount">{{sum}} <span></span></h1>
    <table class="table">
      <tbody>
        {{#each recoders}}
        <tr>
          <td scope="row"><i class="{{this.categoryId.icon}}"></i></td>
          {{!-- <td scope="row"><i class="fa-solid fa-house fa-2xl"></i></td> --}}
          <td>{{this.name}} <br>{{this.date}}</td>
          <td>
            <h2 class="amount" id="amount">{{this.amount}}</h2>
          </td>
          <td>
            <a class="btn btn-primary" href="/news/{{this._id}}/edit">Edit</a>
          </td>
          <td>
            <form action="/news/{{this._id}}/delete" method="POST"><button class="btn btn-danger"
                type="submit">Delete</button>
            </form>
          </td>
          </td>
        </tr>
        {{/each}}
      </tbody>

    </table>
    <a class="block m-auto btn btn-warning " href="/news">Add new account</a>
  </div>
</div>